.root{
  width: 100%;
}

.menuButton{
  margin-right: 2%;
}
.title{
  flex-grow: 1;
  display: none;
}
.search{
  position: relative;
  border-radius: 16px;
  margin-left: 0%;
  width: '100%';
}
.searchIcon{
  width: 7,;  
  height: '100%';
  position: 'absolute';
  pointer-events: 'none';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
@media only screen and (max-width: 600px) {
    .title{
      display: block;
    }
    .search{
      margin-left: 1px;
      width: auto;
    }
}
